body {
    margin: auto;
    background: bottom 40vh right 50vw url('images/bg-pattern-top.svg') no-repeat, 
    top 50vh left 50vw url('images/bg-pattern-bottom.svg') no-repeat,
    hsl(185, 75%, 39%);
    background-attachment: fixed;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}
/* CONTAINER FOR THE CARD */
#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* CARD */
#card {
    width: 360px;
    height: 400px;
    max-width: 90vw;
    max-height: 90vh;
    display: grid;
    grid-template-rows: 2fr 2.4fr 1.5fr;
    margin-bottom: 10px;
}
/* CARD TOP WITH PATTERN */
#card-top {
    background: center/cover url('images/bg-pattern-card.svg') no-repeat;
    border-radius: 1em 1em 0 0;
}
/* USER PROFILE AND IMAGE */
#card-center {
    background-color: white;
}

img {
    margin-top: calc(-106px/2);
    border-radius: 50%;
    border: 5px solid white;
    background-color: inherit;
    box-sizing: border-box;
}
#user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
}
span {
    font-weight: 400;
    padding-left: 0.5em;
    color: hsla(0, 0%, 59%, 0.8);
}
#location {
    font-size: 0.9em;
    color: hsla(0, 0%, 59%, 0.8);
}

/* BOTTOM PART OF CARD */
#interactions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1.2;
    background-color: white;
    border-radius: 0 0 1em 1em;
    border-top: 1px solid hsla(0, 0%, 59%, 0.3);
}

#interactions p {
    font-size: 0.65em;
    color: hsla(0, 0%, 59%, 0.8);
}
h3, p {
    margin: 0;
}
/* FOOTER */
footer {
    position: absolute;
    top: 95vh;
    font-size: 0.7em;
    width: 100%;
    text-align: center;
    color: white;
}
a {
    text-decoration: none;
    color: #3d73e0;
}
